
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/LeTienAnh_Layout.cshtml";
}
@model IEnumerable<B_21_2.Models.User>
 <html>
 <body>
     @*<p>Name:@ViewBag.user.Name</p>
        <p>Name:@ViewBag.user.Address</p>
        <p>Name:@ViewBag.user.Email</p>*@
     @*@{ var user = ViewBag.user;}*@ @*//=Model C2*@

     @{ var user = Model;}

     @foreach (var p in user)
     {
         @p.Name<br />
         @p.Address<br />
         @p.Email<br />
         <br />
     }
 </body>
 </html>